rules_version = '2';

// Current production rules (DENY ALL)
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
